<div class="section-title text-center">
  <h2>Contato</h2>
  <p>Estou disponível para oportunidades como Desenvolvedor .NET e Angular.</p>
</div>

<div class="contact-content">
  <div class="contact-card" data-aos="zoom-in">
    <i class="bi bi-envelope-fill"></i>

    <h5>Email</h5>

    <a href="mailto:seuemail@email.com"> douglasscdoug@gmail.com </a>
  </div>
  <div class="contact-card" data-aos="zoom-in">
    <i class="bi bi-linkedin"></i>

    <h5>LinkedIn</h5>

    <a href="https://linkedin.com/in/douglas-cabral-531a49165" target="_blank"> Ver perfil </a>
  </div>
  <div class="contact-card" data-aos="zoom-in">
    <i class="bi bi-github"></i>

    <h5>GitHub</h5>

    <a href="https://github.com/douglasscdoug" target="_blank"> Ver repositórios </a>
  </div>
  <div class="contact-cta text-center">

  <h4>Vamos conversar?</h4>

  <p>
    Estou em busca de oportunidades para atuar como
    Desenvolvedor Full Stack .NET e Angular.
  </p>

</div>
</div>