<div class="section-header">
  <h2 class="section-title">Contato</h2>
  <p>Estou disponível para inicio imediato como Desenvolvedor full-stack .NET e Angular.</p>
</div>

<div class="contact-content">
  <div class="contact-container">
    <div class="contact-card" data-aos="zoom-in">
      <i class="bi bi-envelope-fill"></i>

      <h5>Email</h5>

      <a href="mailto:seuemail@email.com"> douglasscdoug@gmail.com </a>
    </div>
    <div class="contact-card" data-aos="zoom-in">
      <i class="bi bi-linkedin"></i>

      <h5>LinkedIn</h5>

      <a href="https://linkedin.com/in/douglas-cabral-531a49165" target="_blank"> Ver perfil </a>
    </div>
    <div class="contact-card" data-aos="zoom-in">
      <i class="bi bi-github"></i>

      <h5>GitHub</h5>

      <a href="https://github.com/douglasscdoug" target="_blank"> Ver repositórios </a>
    </div>
  </div>
  <div class="contact-form-card card rounded shadow-sm p-4">
    <h5>Vamos construir algo juntos?</h5>

    <p>
      Aberto a oportunidades, freelas e novos desafios.
    </p>
    <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
      <div class="row g-3">
        <div class="form-group col-md-6">
          <label>Nome</label>
          <input type="text" placeholder="Seu nome" formControlName="name" class="form-control" />
        </div>
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="email" placeholder="Seu email" formControlName="email" class="form-control" />
        </div>
      </div>
      <div class="row g-3">
        <div class="form-group col-md-12">
          <label>Assunto</label>
          <input type="text" placeholder="Assunto" formControlName="subject" class="form-control" />
        </div>
      </div>
      <div class="row g-3">
        <div class="form-group col-md-12">
          <label>Mensagem</label>
          <textarea rows="5" placeholder="Sua mensagem" formControlName="message" class="form-control"></textarea>
        </div>
      </div>

      <div class="text-center mt-4">
        <button type="submit" [disabled]="contactForm.invalid || isSending" class="btn btn-success px-4">
          {{ isSending ? 'Enviando...' : 'Enviar mensagem' }}
        </button>
      </div>
    </form>
  </div>
</div>