<div class="row align-items-center min-vh-100">
  <div class="col-lg-7">
    <h1 
        class="display-3 fw-bold"
        data-aos="fade-right"
        data-aos-duration="2000">Douglas Cabral</h1>

    <h2 class="text-primary mb-4">Desenvolvedor Full Stack .NET & Angular</h2>

    <p 
        class="lead mb-4"
        data-aos="fade-right"
        data-aos-delay="500">
      Desenvolvedor apaixonado por tecnologia, especializado em aplicações web utilizando C#, .NET,
      Angular e SQL Server.
    </p>

    <div class="d-flex gap-3 mb-4">
      <a href="#projects" class="btn btn-primary">
        <i class="bi bi-code-square me-2"></i>
        Ver Projetos
      </a>

      <a href="#contact" class="btn btn-outline-primary">
        <i class="bi bi-envelope me-2"></i>
        Contato
      </a>
    </div>

    <div class="social-links">
      <a href="https://github.com/douglasscdoug" target="_blank">
        <i class="bi bi-github"></i>
      </a>

      <a href="https://linkedin.com/in/douglas-cabral-531a49165" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>

      <a href="mailto:douglasscdoug@gmail.com">
        <i class="bi bi-envelope-fill"></i>
      </a>
    </div>
  </div>

  <div class="col-lg-5 text-center">
    <!-- Avatar -->
    <img 
        src="assets/images/profile.png" 
        alt="Douglas Cabral" 
        class="hero-image"
        data-aos="zoom-in"
        data-aos-duration="1200"/>
  </div>
</div>