.hero-content {
  // min-height: calc(100vh - 120px);
  padding-top: 4rem;
  display: flex;
  align-items: center;
}

.hero-image {
  width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.social-links {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.social-links a {
  font-size: 1.8rem;
}