<div id="top"></div>
<main>

  <section id="hero">
    <div class="container-lg"><app-hero></app-hero></div>
    <br><br><br>
  </section>

  <section id="about">
    <div class="container-lg"><app-about></app-about></div>
    <br><br><br>
  </section>

  <section id="skills">
    <div class="container-lg"><app-skills></app-skills></div>
    <br><br><br>
  </section>

  <section id="projects">
    <div class="container-lg"><app-projects></app-projects></div>
    <br><br><br>
  </section>

  <section id="contact">
    <div class="container-lg"><app-contact></app-contact></div>
  </section>

</main>