@import "bootswatch/dist/flatly/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  background-color: #F8F9FA;
}
.section{
  padding: 4rem 0;
}
.section-light {
  background-color: #FFFFFF;
}

.section-alt {
  background-color: #f5f7fa;
}
.section-header{
  margin-bottom: 2rem;
  text-align: center;
}
.section-title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.hero-section {
  padding: 4rem 0;
  background-color: #FFFFFF;
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #F8F9FA 100%
  );
}
.navbar {
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
}